<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Cadena1" connectionString="Data Source=mssql-133066-0.cloudclusters.net,19473;Initial Catalog=dbSistema;user=estudiante;password=Upla2023"
      providerName="System.Data.SqlClient" />
    <add name="Cadena2" connectionString="Data Source=SQL8005.site4now.net;Initial Catalog=db_a9755f_dbventas;user=db_a9755f_dbventas_admin;password=Upla2023"
      providerName="System.Data.SqlClient" />
    <add name="Cadena3" connectionString="Data Source=localhost;Initial Catalog=BDFisupla;user=sa;password=12345"
      providerName="System.Data.SqlClient" />
    <add name="Ventas.UI.Properties.Settings.dbFisUplaConnectionString"
      connectionString="Data Source=DESKTOP-0J6UU1J;Initial Catalog=dbFisUpla;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration> 