<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
	  <add name="Cadena1" connectionString="Data Source=mssql-88744-0.cloudclusters.net,12410;Initial Catalog=dbSistema;user=estudiante01;password=Upla2022  " providerName="System.Data.SqlClient"/>
	  <add name="Cadena2" connectionString="Data Source=localhost;Initial Catalog=dbVentas;user=sa;password=12345" providerName="System.Data.SqlClient"/>
	  <add name="Cadena3" connectionString="Data Source=mssql-169836-0.cloudclusters.net,10017;Initial Catalog=BDFisUpla;user=estudiante;password=Upla2024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>